# Clés privées (NE JAMAIS COMMITER !)
keys/
*.pem
*_private_key.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

